html,
body,
#__nuxt {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: default;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button:not(:disabled),
[role='button']:not(:disabled):not([aria-disabled='true']),
a[href],
select:not(:disabled),
label[for] {
  cursor: pointer;
}

button:disabled,
[role='button'][aria-disabled='true'],
select:disabled {
  cursor: not-allowed;
}
